/* 
    Document   : style
    Created on : 20 mai 2013, 18:09:18
    Author     : JavaJazz
    Description:
        Purpose of the stylesheet follows.
*/
html { 
  margin:0;
  padding:0;
  background-image: url("../img/abstract_colors_espiro_gray.jpeg"); 

}
root
{ 
    display: block;
}

.accroche
{
    size:5px;
    color:blue;
}

